<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>Controller.TestUserDaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestCategoryDaoController</servlet-name>
        <servlet-class>Controller.TestCategoryDaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestProductDaoController</servlet-name>
        <servlet-class>Controller.TestProductDaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOrderDetailDaoController</servlet-name>
        <servlet-class>Controller.TestOrderDetailDaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOrderDaoCotroller</servlet-name>
        <servlet-class>Controller.TestOrderDaoCotroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/TestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestCategoryDaoController</servlet-name>
        <url-pattern>/TestCategoryDaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestProductDaoController</servlet-name>
        <url-pattern>/TestProductDaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOrderDetailDaoController</servlet-name>
        <url-pattern>/TestOrderDetailDaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOrderDaoCotroller</servlet-name>
        <url-pattern>/TestOrderDaoCotroller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
